.notification {
    color: red;
    background: lightgray;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.username {
    margin-right: 10px;
}

.password {
    margin-right: 14px;
}

.passForm {
    margin-top: 5px;
    margin-bottom: 12px;
}

.loggedIn {
    font-size: 18px;
}

.title {
    margin-right: 16px;
}

.authorForm {
    margin-top: 5px;
    margin-bottom: 5px;
}

.url {
    margin-right: 14px;
}

.createButton {
    margin-top: 10px;
    margin-bottom: 10px;
}